#alert-dialog-description{
    width: 500px;
}

#filled-basic{
    width: 480px;
}
#content #basic-left{
    width: 200px;
}
#content #basic-right{
    width: 200px;
}
#content{
    display: flex;
    width: 500px;    
}
#content h4{
    margin-right: 5px;
    border-radius: 50%;
    background: #ece9e9;
    width: 50px;
    height: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    margin-top: 10px;
}
#border-none{
    border: none;
    display: hidden;
    width: 200px;
}
#footerDialog{
    display: flex;
    justify-content: right;
}
#footerDialog h4{
    font-weight: bold;
    color: #111;
    margin-right: 20px;
    margin-top: 20px;

}
#footerDialogInput{
    margin-bottom: 9px;
}
#buttonDone{
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
}
#adicionarClient{
    border: none;
    margin-left: 980px;
}