.sideBar{

  width: 31.5vh;
  height: 55vh;

  width: 20vw;
  height: 65vh;
  margin-top: 15vh;
  margin-left: 1px;
  margin-top: 20px;
}
.SideBarList{
  height: auto;
  width: 100%;
  padding: 0;
  list-style: none;

}

.SideBarList .rowList{
  height: 40px;
  width: 100%;
 list-style-type: none;
 margin: 0;
 padding: 5px 0;
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 transition: all 1s ease;

}
.SideBarList .rowList:hover{
  /* border-left: solid 3px black; */
  background: #6AB04C;
  cursor: pointer;
}
#icon{
  padding-right: 10px;
  padding-left: 10px;
}
#title{
  font-size: 14px;
  text-transform: uppercase;
}
.SideBarList .rowList#active{
  background: #6AB04C;
}
