#textPie{
    position: relative;
    margin-bottom: -150px;

}

h1{
    font-size: 40px;
    display: flex;
    white-space: nowrap


}
#description{
    font-size: 17px;
    display: flex;
    white-space: nowrap;
    margin-left: 15px;
}


