#barChart{
    margin-top: 580px !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    justify-items: center !important;
    transition: all 0.5s ease !important;
}
text{
    fill: #000;
    font-weight: 500;
}

